@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

h1{

    width:100%;
    color:#0b3d91;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    
}