.App {

  display: block;
  width: 100%;
  text-align: center;

  

}

.main-content{
  display: flex;
  justify-content: space-around;
}
.date{

  border: 5px solid #0b3d91;
  border-radius: 10%;
  margin-left: 2%;
  margin-top: 10%;
  width:25%;
  height:30vh;
  display: center;
  background-color: white;

     

}

.info{

  width: 70%;
  height:auto;
  

}